:root {
    --highlight: #800E13;
    --primary: #ad2831;
    --primarytext: #080b0d;
    --secondarytext: #364156;
    --white: #ffffff;
    --alt: #20a4f3;
}

a {
    color: var(--alt);
}

body {
    margin: 0px;
    font-family: "SF Pro Text","Helvetica Neue",-apple-system,BlinkMacSystemFont,"Helvetica","Segoe UI","Arial",sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

#desc {
    position: absolute;
    width: 320px;
    left: 32px;
    bottom: 48px;
    color: var(--secondarytext);
    /* padding: 16px; */
    /* background-color: rgba(0, 0, 0, .5); */
    /* color: white; */
}

/* Popup */
.mapboxgl-popup {
	width: 240px;
	padding: 16px;
}

.mapboxgl-popup-content, #desc {
	text-align: left;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--white);
	
	/* Shadow */
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);

}

.mapboxgl-popup-tip {
	border: 0px;
}

.mapboxgl-popup-close-button {
	display: none;
}

/* Card Attributes */
#cardtitle {
    font-size: 14px;
    font-weight: 800;
    color: var(--primarytext);
}

#carddesc {
    font-size: 14px;
    color: var(--primarytext);
    padding-top: 8px;
}

#cardmeta {
    font-size: 13px;
    color: var(--secondarytext);
    line-height: 12px;
}

#cardurl a {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

#cardurl:hover a:hover {
    background-color: var(--highlight);
}
